.content {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
   margin: 3rem;
   background-color: #404981;
   width: 100vw;
   height: 5rem;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}