.form {
    background-color: #404981;
    height: 20rem;
    width: 35rem;
    max-width: 35rem;
    min-width: none;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 1.5rem;
    padding: 1rem;
    user-select: none;
}


.cardLeft {
    grid-column: 1;
    display: grid;
    grid-template-rows: 5rem 4rem;
    flex-direction: column;
    row-gap: 3rem;
}

.statusWrap, .dueWrap, .titleWrap, .idWrap {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 0.3rem;
}

.idTitleWrap {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 3.5rem;
}

.idWrap {
    grid-row: 1;
    height: 1rem;
}

.titleWrap {
    grid-row: 2;
    height: 3rem;
}

.statusDueWrap {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;
}

.statusWrap {
    grid-row: 3;
}

.dueWrap {
    grid-row: 4;
}

.statusWrap > select > option {
    color: #404981;
}


.id, .title, .status, .due, .description {
padding: 0.5rem;
background-color: whitesmoke;
color: #404981;
height: 1.5rem;
}

.cardRight {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 1fr;
    grid-template-rows: 12fr 0.5fr;
    flex-direction: column;
    grid-column: 2;
}

.descriptionWrap {
    min-height: 7rem;
    grid-row: 1;
    grid-column: 1 / 5;
    min-height: 7rem;
}

.description {
    height: 13.4rem;
    width: 100%;
    background-color: whitesmoke;
}


.btnDiv {
    grid-row: 2;
    grid-column: 1 / 5;
    display: flex;
    column-gap: 1rem;
    margin-left: auto;
}


.submit{
    all:unset;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.2rem;
    min-width: fit-content;
    min-height: fit-content;
    width: 1rem;
    height: 0.3rem;
    background-color: #404981;
    color: white;
    text-align: center;
    border-radius: 0.04em;
    box-shadow: 0 0 2px 1px whitesmoke;
    transition: all 0.2ms;
    text-wrap: nowrap;
}

.updateBtn:hover, .delBtn:hover{
    box-shadow: none;
    width: 0.98rem;
    height: 0.31rem;
    filter: brightness(95%);
}

.updateBtn:active, .delBtn:active{
    filter: brightness(105%);
}