.totTasks {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.searchFormContainer {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
}

.closeBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #404981;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: #333;
}

.carouselContainer {
    width: 60vw;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.carouselDisp {
    display: flex;
}

.carouselDisp > h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.btnDiv {
    margin: 1rem  0  2rem 2rem;
    display: grid;
    grid-template-columns: 6rem 6rem; /* Fixed width columns */
    gap: 2rem;
    justify-content: start; /* Align to the left */
}


.addBtn, .searchBtn{
    all: unset;
    cursor: pointer;
    padding: 0.3rem;
    width: 6rem;
    height: 2rem;
    background-color: #404981;
    color: white;
    text-align: center;
    border-radius: 0.2em;
    box-shadow: 0 0 4px 3px whitesmoke;
    transition: all 0.5ms ease-in;
}

.addBtn:hover, .searchBtn:hover{
    box-shadow: 0 0 2px 1px whitesmoke;
    width: 5.9rem;
    height: 1.9rem;
    filter: brightness(95%);
}

.addBtn:active, .searchBtn:active{
    filter: brightness(105%);
}